<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:fragment="header-css">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css"/>
        <link th:href="@{/css/task.css}" rel="stylesheet" media="screen"/>
        <script th:src="@{/static/js/task.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/site.css}"/>
        <!--<link rel="shortcut icon" href="/static/icons/favicon.ico">-->
        <!--datetime picker-->
        <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>
        <script th:src="@{/static/js/moment-with-locales.js}"></script>
        <script th:src="@{/static/js/bootstrap-datetimepicker.min.js}"></script>
    </div>

    <div th:fragment="header-login-css">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords"  content="spring boot, thymeleaf, spring data, todo application, ibrahim karayel"/>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/site_login.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/site.css}"/>
        <link rel="stylesheet" th:href="@{/static/icons/social/stylesheets/social_foundicons.css}"/>

    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="pull-left active" role="tab" data-target="#listaUzytkownikow" data-toggle="tab">
                        <a class="btn icon-btn" href="">
                            <span class="glyphicon btn-glyphicon glyphicon-user img-circle text-success"></span>
                            Lista użytkowników
                        </a>
                    </li>
                    <li class="pull-left active" role="tab" data-target="#statusyProjektow" data-toggle="tab">
                        <a class="btn icon-btn " href="">
                            <span class="glyphicon btn-glyphicon glyphicon-list-alt img-circle text-success"></span>
                            Lista statusów
                        </a>
                    </li>
                    <li class="pull-left " role="tab" data-target="#typyProjektow" data-toggle="tab">
                        <a class="btn icon-btn " href="#">
                            <span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>
                            Typy projektów
                        </a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>
                        <h5 th:inline="text">Witaj [[${#httpServletRequest.remoteUser}]]!</h5>
                    </a>
                    </li>
                    <li>
                        <a>
                            <form th:action="@{/logout}" method="post">
                                <input class="btn" type="submit" value="Sign Out"/>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

</body>
</html>