body {
    background-color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
}

/*Navbar*/
.navbar-default {
    background-color: #fff;
    border-bottom-color: #E3E3E3;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent !important;
}

.navbar-default .btn-compose {
    padding-right: 10px;
    border-right: 1px solid #F0F0F0;
}

/*Forms setup*/
.form-control {
    border-radius: 0;
    box-shadow: none;
    height: auto;
}

.float-label {
    font-size: 10px;
}

input[type="text"].form-control,
input[type="search"].form-control {
   border: 1px dotted #CFCFCF;
}

textarea {
    border: 1px dotted #CFCFCF !important;
    height: 130px !important;
}

/*Content Container*/
.content-container {
    background-color: #fff;
    padding: 35px 20px;
    margin-bottom: 20px;
    margin-top: 7%;
}

h1.content-title {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif !important;
}

/*Compose*/
.btn-send {
    text-align: center;
    margin-top: 20px;
}

/*mail list*/

ul.mail-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 30px;
}

ul.mail-list li a {
    display: block;
    border-bottom: 1px dotted #CFCFCF;
    padding: 20px;
    text-decoration: none;
}

ul.mail-list li:last-child a {
    border-bottom: none;
}

ul.mail-list li a:hover {
    background-color: #DBF9FF;
}

ul.mail-list li span {
    display: block;
}

ul.mail-list li span.mail-sender {
    font-weight: 600;
    color: #8F8F8F;
}

ul.mail-list li span.mail-subject {
    color: #8C8C8C;
}

ul.mail-list li span.mail-message-preview {
    display: block;
    color: #A8A8A8;
}

.mail-search {
    border-bottom-color: #7FBCC9 !important;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-color: #e7e7e7 !important;
}

