<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="tab-content">
    <div class="tab-pane active" id="listaUzytkownikow">
        <div class="container">
            <div class="content-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr class="btn-info">
                                        <th>Data rejestracji</th>
                                        <th>Imię</th>
                                        <th>Nazwisko</th>
                                        <th>Email</th>
                                        <th>Rola</th>
                                        <th>Czy aktywne</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(listaUzytkownikow)}" class="btn-default">
                                        <td colspan="5" align="center">Brak Typów Projektów!!!!</td>
                                    </tr>
                                    <tr th:each="uzytkownik : ${listaUzytkownikow}">
                                        <td th:hidden="${uzytkownik.id}"></td>
                                        <td th:text="${#temporals.format(uzytkownik.dataRejestracji,'dd-MM-yyyy HH:mm:ss')}"></td>
                                        <td th:text="${uzytkownik.imie}"></td>
                                        <td th:text="${uzytkownik.nazwisko}"></td>
                                        <td th:text="${uzytkownik.email}"></td>
                                        <td th:switch="${uzytkownik.rola}">
                                            <span th:case="2">użytkownik</span>
                                            <span th:case="1">admin</span>
                                        </td>
                                        <td><input type="checkbox" name="czyAktywne"
                                                   th:checked="${uzytkownik.czyAktywne}" disabled="true"/></td>
                                        <td align="center">
                                            <a th:href="@{/uzytkownicy/{id}/edit(id=${uzytkownik.id})}">
                                                <span class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                      data-placement="top" title="Edytuj użytkownika"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="zlozoneProjekty">
        <div class="container">
            <div class="content-container">
                <div class="row">
                    <h1 class="content-title">Lista zgłoszonych projektów</h1>
                    <!--star operations messages-->
                    <div th:if="${msg eq 'success'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        Pomyślnie dodano wniosek.
                    </div>
                    <div th:if="${msg eq 'fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Wystąpił błąd. Spróbuj ponownie</strong>
                    </div>
                    <div th:if="${msg eq 'active'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong><h6 th:text="${msgText}"/></strong>
                    </div>
                    <div th:if="${msg eq 'active_fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Błąd!!!!!</strong> <h6 th:text="${msgText}"/>
                    </div>
                    <div th:if="${msg eq 'trash'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        Task Sent to Trash Box
                    </div>
                    <!--end of messages-->
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr class="btn-info">
                                        <th>Status</th>
                                        <th>Użytkownik</th>
                                        <th>Nazwa</th>
                                        <th>Opis</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(listaProjektow)}" class="btn-default">
                                        <td colspan="5" align="center">Brak Typów Projektów!!!!</td>
                                    </tr>
                                    <tr th:each="projekt : ${listaProjektow}">
                                        <td th:text="${projekt.nazwa}"></td>
                                        <td th:text="${projekt.uzytkownik.email}"></td>
                                        <td th:text="${projekt.statusProjektu.opisStatusu}"></td>
                                        <td th:text="${projekt.opis}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="tab-pane" id="typyProjektow">-->
        <!--<div class="container">-->
        <!--<div class="content-container clearfix">-->
        <!--<div class="col-md-12">-->
        <!--<h1 class="content-title">Dostępne typy projetków</h1>-->
        <!--<div class="panel panel-info">-->
        <!--<div class="panel-body">-->
        <!--<table class="table table-bordered table-striped table-responsive">-->
        <!--<thead>-->
        <!--<tr class="btn-info">-->
        <!--<th>Id</th>-->
        <!--<th>Nazwa</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:if="${#lists.isEmpty(wszystkieTypyProjektow)}" class="btn-default">-->
        <!--<td colspan="5" align="center">Brak Typów Projektów!!!! </td>-->
        <!--</tr>-->
        <!--<tr th:each="typProjektu : ${wszystkieTypyProjektow}">-->
        <!--<td th:text="${typProjektu}"></td>-->
        <!--<td th:text="${typProjektu.nazwa}"></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="tab-pane" id="statusyProjektow">-->
        <!--<div class="container">-->
        <!--<div class="content-container clearfix">-->
        <!--<div class="col-md-12">-->
        <!--<h1 class="content-title">Dostępne statusy projektu</h1>-->
        <!--<div class="panel panel-info">-->
        <!--<div class="panel-body">-->
        <!--<table class="table table-bordered table-striped table-responsive">-->
        <!--<thead>-->
        <!--<tr class="btn-info">-->
        <!--<th>Id</th>-->
        <!--<th>Nazwa</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:if="${#lists.isEmpty(wszystkieStatusy)}" class="btn-default">-->
        <!--<td colspan="5" align="center">Brak Statusów!!!! </td>-->
        <!--</tr>-->
        <!--<tr th:each="statusProjektu : ${wszystkieStatusy}">-->
        <!--<td th:text="${statusProjektu.id}"></td>-->
        <!--<td th:text="${statusProjektu.opisStatusu}"></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#typProjektu').change(
            function () {
                // $.getJSON("http://localhost:8080/wskazniki", {
                console.log("SIEMA   " + $(this).val());
                $.getJSON("http://localhost:8080/typ_projektu/" + $(this).val() + "/wskazniki",
                    function (data) {
                        console.log("W tym typie jest: " + data.length + "typów wskaźników ") // log do ilości typów
                        var len = data.length;
                        $('#wskazniki').html('<input type="hidden" id="iloscWsk" name="iloscWsk" value="' + len + '">');
                        for (i = 0; i < len; i++) {
                            var wskHtml = '<div class="form-group col-md-10">';
                            var counter = i + 1;
                            wskHtml += '<label>Wskażnik ' + counter + '</label>' +
                                '<select class="form-control" id="wskaznik' + i + '" name="wskaznik' + i + '">' +
                                '<option value="' + data[i].id + '">' + data[i].nazwa + '</option>';
                            $("#wskazniki").append(wskHtml);
                            ilHtml = ''
                            ilHtml += '<div class="form-group col-md-2">' +
                                '<div claas="input-group">' +
                                '<label for="iloscWskaznik' + i + '">Ilość</label>' +
                                '<input  id="iloscWskaznik' + i + '" name="iloscWskaznik' + i + '" type="number"' +
                                'min="0" class="form-control" required="required" placeholder="' + data[i].jednostkaMiary + '">';
                            $("#wskazniki").append(ilHtml);
                        }
                    });
            });
    });

</script>
</html>
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>
</body>
</html>