<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="tab-content">
    <div class="tab-pane active" id="listaProjektow">
        <div class="container">
            <div class="content-container">
                <div class="row">
                    <h1 class="content-title">Formularz dodawania wniosku</h1>
                    <!--star operations messages-->
                    <div th:if="${msg eq 'success'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        Pomyślnie dodano wniosek.
                    </div>
                    <div th:if="${msg eq 'fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Wystąpił błąd. Spróbuj ponownie</strong>
                    </div>
                    <div th:if="${msg eq 'active'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong><h6 th:text="${msgText}"/></strong>
                    </div>
                    <div th:if="${msg eq 'active_fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Błąd!!!!!</strong> <h6 th:text="${msgText}"/>
                    </div>
                    <div th:if="${msg eq 'trash'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        Task Sent to Trash Box
                    </div>
                    <!--end of messages-->
                    <form id="dodajProjekt" th:object="${reqProjekt}" th:action="@{/projekty/}" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="nazwaProjektu">Nazwa projektu</label>
                                <input id="nazwaProjektu" th:field="*{nazwa}" type="text" class="form-control"
                                required="required" placeholder="Nazwa Wniosku">
                            </div>
                            <div class="form-group">
                                <label for="adresKorespondencyjny">Adres korespondencyjny</label>
                                <input id="adresKorespondencyjny" th:field="*{adresKorespondencyjny}" type="text" class="form-control"
                                       required="required"
                                       placeholder="Adres korespondencyjny">
                            </div>
                            <div class="form-group">
                                <label for="adresProjektu">Adres projektu</label>
                                <input id="adresProjektu" th:field="*{adresProjektu}" type="text" class="form-control"
                                       required="required"
                                       placeholder="Adres Projektu">
                            </div>
                            <div th:field="*{typProjektu}">
                                <label for="typProjektu">Wybierz typ projektu</label>
                                <select class="form-control" id="typProjektu" name="typProjektu">
                                    <option disabled value="">Wybierz Typ Projektu</option>
                                    <option th:each="typProjektu : ${wszystkieTypyProjektow}"
                                            th:value="${typProjektu.id}"
                                            th:text="${typProjektu.nazwa}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="opisProjektu">Opis projektu</label>
                                <textarea class="form-control" th:field="*{opis}" id="opisProjektu" name="opisProjektu"
                                          required="required"></textarea>
                            </div>
                            <div id="wskazniki">
                            </div>
                            <div class="form-group">
                                <label for="kosztProjektu">Całkowity koszt projektu</label>
                                <input id="kosztProjektu" th:field="*{kosztProjektu}" type="number" step="0.01" min="0" class="form-control"
                                       required="required" placeholder="zł">
                            </div>
                            <div class="form-group">
                                <label for="wartoscDofinansowania">Wnioskowana wartość dofinansowania</label>
                                <input id="wartoscDofinansowania" th:field="*{wartoscDofinansowania}" type="number" step="0.01" min="0" class="form-control"
                                       required="required"
                                       placeholder="zł">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg align">Złóż wniosek</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div claas="tab-pane" id="listaProjketow">
        <div class="container">
            <div class="content-container clearfix">
                <div class="col-md-12">
                    <h1 class="content-title">Lista projektów użytkownika</h1>
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-responsive">
                                <thead>
                                <tr class="btn-info">
                                    <th>Data złożenia</th>
                                    <th>Nazwa</th>
                                    <th>Użytkownik</th>
                                    <th>Status</th>
                                    <th>Typ Projektu</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(listaProjektowUzytkownika)}" class="btn-default">
                                    <td colspan="5" align="center">Użytkownik nie ma aktualnie zgłoszonych projektów </td>
                                </tr>
                                <tr th:each="projekt : ${listaProjektowUzytkownika}">
                                    <td th:text="${#temporals.format(projekt.dataZgloszenia,'dd-MM-yyyy HH:mm:ss')}"></td>
                                    <td th:text="${projekt.nazwa}"></td>
                                    <td th:text="${projekt.uzytkownik.email}"></td>
                                    <td th:text="${projekt.statusProjektu.opisStatusu}"></td>
                                    <td th:text="${projekt.typProjektu.nazwa}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="typyProjektow">
        <div class="container">
            <div class="content-container clearfix">
                <div class="col-md-12">
                    <h1 class="content-title">Dostępne typy projetków</h1>
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-responsive">
                                <thead>
                                <tr class="btn-info">
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(wszystkieTypyProjektow)}" class="btn-default">
                                    <td colspan="5" align="center">Brak Typów Projektów!!!! </td>
                                </tr>
                                <tr th:each="typProjektu : ${wszystkieTypyProjektow}">
                                    <td th:text="${typProjektu.id}"></td>
                                    <td th:text="${typProjektu.nazwa}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
        <div class="tab-pane" id="statusyProjektow">
            <div class="container">
                <div class="content-container clearfix">
                    <div class="col-md-12">
                        <h1 class="content-title">Dostępne statusy projektu</h1>
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr class="btn-info">
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(wszystkieStatusy)}" class="btn-default">
                                        <td colspan="5" align="center">Brak Statusów!!!! </td>
                                    </tr>
                                    <tr th:each="statusProjektu : ${wszystkieStatusy}">
                                        <td th:text="${statusProjektu.id}"></td>
                                        <td th:text="${statusProjektu.opisStatusu}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#typProjektu').change(
            function() {
                // $.getJSON("http://localhost:8080/wskazniki", {
                console.log("SIEMA   "+ $(this).val());
                $.getJSON("http://localhost:8080/typ_projektu/" + $(this).val() +"/wskazniki",
                    function(data) {
                    console.log("W tym typie jest: " + data.length + "typów wskaźników ") // log do ilości typów
                    var len = data.length;
                    $('#wskazniki').html('<input type="hidden" id="iloscWsk" name="iloscWsk" value="'+ len +'">');
                    for (i = 0; i<len; i++){
                        var wskHtml = '<div class="form-group col-md-10">';
                        var counter = i+1;
                        wskHtml += '<label>Wskażnik '+ counter + '</label>' +
                            '<select class="form-control" id="wskaznik'+ i +'" name="wskaznik' + i +'">' +
                            '<option value="' + data[i].id + '">' + data[i].nazwa + '</option>';
                        $("#wskazniki").append(wskHtml);
                        ilHtml = ''
                        ilHtml += '<div class="form-group col-md-2">' +
                        '<div claas="input-group">' +
                        '<label for="iloscWskaznik' + i + '">Ilość</label>' +
                        '<input  id="iloscWskaznik' + i + '" name="iloscWskaznik' + i + '" type="number"' +
                        'min="0" class="form-control" required="required" placeholder="' + data[i].jednostkaMiary +'">';
                        $("#wskazniki").append(ilHtml);
                    }
                    });
                });
    });

</script>
</html>