<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta name="description" content="spring-boot thymeleaf | Register ">
    <div th:replace="fragments/header :: header-login-css"></div>
</head>
<body>
<br/>
<hr/>
<div class="separator"></div>
<div class="row">
    <div class="container">
        <div class="login-register-form-section">
            <ul class="nav nav-tabs" role="tablist">
                <li class="col-xs-6"><a th:href="@{/login}">Login</a></li>
                <li class="col-xs-6"><a class="active" href="#register" data-toggle="tab">Register</a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="register">
                    <div th:if="${saveUser eq 'success'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>User registered Successfully</strong> Please Login
                    </div>

                    <div th:if="${saveUser eq 'exist-name'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> User name already used !!!
                    </div>
                    <div th:if="${saveUser eq 'exist-email'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> User email already used !!!
                    </div>
                    <div th:if="${saveUser eq 'fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> Unexpected error !!!
                    </div>

                    <form id="registerForm" th:object="${reqUzytkownik}" th:action="@{/user/register}" method="post"
                          class="form-horizontal">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input th:field="*{imie}" type="imie" name="imie" class="form-control"
                                       placeholder="Imię"
                                       required="required" value=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input th:field="*{nazwisko}" type="nazwisko" name="nazwisko" class="form-control"
                                       placeholder="Nazwisko"
                                       required="required" value=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input th:field="*{email}" type="email" name="email" class="form-control"
                                       placeholder="Email"
                                       required="required" value=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input th:field="*{haslo}" type="password" name="haslo"
                                       class="form-control" id="haslo"
                                       placeholder="Hasło" required="required"/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input th:field="*{haslo_2}" type="password" name="haslo_2"
                                       class="form-control" id="haslo_2"
                                       placeholder="Potwierdź hasło" required="required"/>
                            </div>
                        </div>
                        <input type="submit" value="Register" class="btn btn-success btn-custom"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footerSeparator"></div>

<footer>
    <div th:replace="fragments/footer :: footer">&copy; 2016 ibrahim Karayel</div>
</footer>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script>
    var haslo = document.getElementById("haslo")
        , haslo_2 = document.getElementById("haslo_2");

    function validatePassword() {
        if (haslo.value != haslo_2.value) {
            haslo_2.setCustomValidity("Hasła nie zgadzają się");
        } else {
            haslo_2.setCustomValidity('');
        }
    }
    haslo.onchange = validatePassword;
    haslo_2.onkeyup = validatePassword;
</script>

</body>
</html>